# Ignore the .env file

.env

# ignore the virtual env 
*venv/*

# ignore all the logs of airflow
logs*

# ignore __pycache__
__pycache__*


# airflow_db

airflow.db

airflow-webserver.pid
airflow-webserver.out
airflow-webserver.err
airflow-webserver.logs
